# dependencies
node_modules/

# build output
/dist/

# Angular
/.angular/

# environment files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# local sqlite db
*.sqlite
*.sqlite-journal
*.db

# misc
coverage/
